.main-bar{
    width: 100%;
    float: left;
    margin: 25px 0;
    padding: 0;
}

.main-bar-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-bar-header h1{
    font-weight: 400;
}

.main-bar-header .ask-btn{
    padding: 10px 15px;
    border-radius: 4px;
    background-color: #009dff;
    color: white;
    border: none;
    text-decoration: none;
    transition: 0.3s;
}

.main-bar-header .ask-btn:hover{
    background-color: #0086d8;
}

.display-question-container{
    min-height: 80px;
    margin-bottom: 1rem;
    background-color: #f9fde2;
    border-bottom: solid 1px #edeff0;
}

.display-question-container p{
    margin: 0;
    text-align: center;
}

.display-question-details{
    flex-grow: 1;
    padding: 0 20px;
}

.question-title-link{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #037ecb;
    transition: 0.3s;
}

.box-style{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filter-box{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.filter-box-1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;
    gap: 5px;
}

.filter-box label{
    font-weight: 600;
}

.select-style{
    padding: 0.5rem;
    border-radius: 10px;
    border-color: rgb(207, 206, 206);
    background-color: #e1f3fe;
    font-size: 0.9rem;
}

.option-style{
    color: black;
}

.question-title-link:hover{
    color: #009dff;
}

.display-question-details p{
    padding: 4px;
    margin: 0;
}

.display-tags{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.display-tags p{
    margin: 2px;
    padding: 4px;
    font-size: 13px;
    background-color: #edeff0;
    color: #39739d;
}

.display-time{
    font-size: 13px;
}

Th{
    border: 1px solid black;
    text-align: center;
}
Td{
    text-align: center;
    border: 1px solid black;
}

@media screen and (max-width: 1020px) {
    .main-bar{
        width: calc(100% );
        float: left;
        margin: 25px 0;
        padding: 0;
    }
  }
  